/* 
    Document   : site-theme
    Created on : Dec 3, 2013, 5:24:03 PM
    Author     : DRX
    Description:
        Purpose of the stylesheet follows.
*/

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 10% auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signup{
    max-width: 550px;
    padding: 19px 29px 29px;
    margin: 5% auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

span.form-error.help-block {
    display: block;
    color: red;
    margin-top: 6px;
    padding-left: 0;
}

/*.strength-meter{
    display: inline-block;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 0px 4px;
    font-size: 10pt;
    padding: 10px;
}*/


