/* 
    Document   : site-theme
    Created on : Dec 3, 2013, 5:24:03 PM
    Author     : DRX
    Description:
        Purpose of the stylesheet follows.
*/

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 10% auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
}

.form-signup{
    max-width: 550px;
    padding: 19px 29px 29px;
    margin: 5% auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
/*    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

span.form-error.help-block {
    display: block;
    color: red;
    margin-top: 6px;
    padding-left: 0;
}

/* Used for the 404 page */
/*body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.vote-box{
    background: #4294DE;
    border: 1px solid #c5d6df;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    padding: 0;
    text-align: center;
}

.vote-count{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    overflow: hidden;
    color: white;
}

.vote-label{
    font-size: 11px;
    color: white;
}

.ans-count-box{
    background: #00A3A3;
    border: 1px solid #c1daa6;
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 5px;
    padding: 0;
}

.ans-count{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    margin-top: 10px;
    color: white;
}

.ans-label{
    font-size: 11px;
    color: white;
}

.askBtnStyle{
    margin-top: -9%;
    margin-bottom: -7%;
    margin-left: 13%;
}